body {
  font-family: Futura, 'Century Gothic', AppleGothic, sans-serif;
}

.container {
  margin-top: 10%;
}

.buttons {
 font-size: 1.2em;
 font-weight: bold;
 list-style: none;
 cursor: pointer;
 text-align: center;
 color: #1586ab;
 text-transform: uppercase;
 text-decoration: underline;
 opacity: .3;
}

.main {
  text-align: center;
  height: 250px;
  margin: 20px 20%;
}

.header {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.header img {
  max-width: 600px;
}

.footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

.footer li {
  display: inline;
  list-style-type: none;
}

.footer li + li::before {
  content: "|"
}

.footer li a, .footer li a:visited, .footer li a:active {
  text-decoration: none;
  color: #F80;
}

#you-should-ask {
  font-weight: bold;
  font-size: 4em;
}

#question {
  font-size: 2em;
  height: 5em;
  margin-top: 1em;
}

#question::before {
  content: "\201C";
}

#question::after {
  content: "\201D";
}
